body,
html,
#root,
canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: none;
}

body {
  background-color: #000;
}

h1 {
  position: absolute;
  top: 120px;
  left: 50%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 800;
  font-size: 14em;
  transform: translate3d(-50%, 0, 0);
  margin: 0;
  color: peru;
  line-height: 0.8em;
  letter-spacing: -15px;
  text-align: center;
}